HAPA_MEDIA_NODE_HOST=127.0.0.1
HAPA_MEDIA_NODE_PORT=8723
HAPA_MEDIA_NODE_TOKEN=devtoken
HAPA_MEDIA_NODE_STORAGE_DIR=./data
HAPA_MEDIA_NODE_DUMMY_GENERATION=0

HAPA_MEDIA_HUB_HOST=127.0.0.1
HAPA_MEDIA_HUB_PORT=8726
HAPA_MEDIA_HUB_TOKEN=hubtoken_multi
HAPA_MEDIA_HUB_NODES_FILE=./hub_nodes.example.json

HAPA_MEDIA_ALLOW_QUERY_TOKEN=0
